<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Converted Picture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Here is your uploaded picture:</h1>
        <img src="{{ url_for('display_image', filename=filename) }}" alt="Converted Image" class="uploaded-image">

        <br>
        <a href="/" class="upload-another">Upload another picture</a>
    </div>
</body>

</html>