<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bubu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}">
    <script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>

</head>

<body>
    <div class="container">
        <div>
            <h2 id="header2" style="text-align: center">I love you</h2>
            <img id="headImg" src="{{ url_for('static', filename='header.png') }}">
        </div>

        <form id="uploadForm">
            <input type="file" id="fileInput" name="file" accept="image/*" class="form-control mb-3">
            <button type="button" id="uploadBtn" class="btn btn-primary">Upload</button>
        </form>

        <div id="progressContainer" class="mt-3" style="display: none;">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
            </div>
        </div>

        <div id="imageContainer" class="mt-4">
            <img id="uploadedImage" src="">
        </div>
    </div>

    <button id="shutdownBtn" type="submit" style="display: block;">Shutdown</button>
    <button id="okBtn">Ok</button>
    <button id="vertBtn">Portrait</button>
    <button id="horBtn">Landscape</button>
    <button id="cropBtn">Crop and Apply</button>
    <script type="text/javascript">
        const panel = "{{ panel }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>


</html>